/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;/*hành vi khi cuộn*/
    font-family: Arial, Helvetica, sans-serif;/*kiểu chữ*/
}
    /*
    1,từ ngoài vào trong
    2,từ trên xuống dưới
    3,tổng quan đến chi tiết
    */
    /*
    1,vị trí
    2,kích thước(heigh,width)
    3,màu sắc
    4,kiểu dáng(kiểu chữ,hình tròn,vuông..)
    */
    /* Common(class chung)*/ 
    .clear{
        clear: both;
    }
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.pull-right{/*kéo sang phải*/
float: right !important;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;/*xóa bỏ gạch chân*/
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    }
    .btn:hover{
        color: #000;
        background-color: #ccc;
        cursor: pointer;
    }
.row{/*hàng*/
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear:both;
}
.col{/*cột*/
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.3333%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
/*Main*/
#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
z-index: 1;/*ko bị trôi header*/
overflow: hidden;/*ẩn thuộc tính con*/
}
#nav{
    display: inline-block;
}
#nav, .subnav{
list-style-type: none;/*xóa ô tròn bên cạnh*/
}
#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    text-decoration: none;/*bỏ phần gạch chân*/
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}
/*#nav li:hover a{
    color: #000;
    background-color: #ccc;
}*/
#nav .subnav{
    display: none;
    min-width: 160px;
    top:100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}
#header.mobile-menu-btn,
#header .search-btn{
float: right;
padding: 0 21px;


}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;/*con trỏ chuột:bàn tay*/
}
#header.mobile-menu-btn:hover{
    background-color: #ccc;
}
#header.mobile-menu-btn:hover .menu-icon{
color: #000;
}
.modal-heading-icon,
#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46px;
    
}

#slider{
    position: relative;
    min-height: 500px;
   padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color:green;
    left: 50%;
    transform: translateX(-50%);/*lùi lại ở giữa theo trục ngang*/
    text-align: center; 
    /*left
    transform
    =width(100%)/left: 0 right: 0*/
}
#slider .text-heading{
font-weight: 500;
font-size: 24px;
}
#slider .text-description{
font-size: 15px;
}

#content{

}
#content.content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content.section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;/*khoảng cách giữa các kí tự*/
}
content.section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;/*kiểu chữ*/
    opacity: 0,6;/*độ trong suốt*/
}
#content.about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;/*căn đều 2 bên*/
    line-height: 1.4;/*khoảng cách giữa 2 dòng*/
}
#content-member-list{
    margin-top: 48px;
}


#content.member-name{
    font-size: 15px;
    
}
#content.member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;/*bo góc*/ 
}
/*Tour section*/
.tour-section{
    background-color: #000; 
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #757575;
}
.tickets-list.soul-out{
background-color: #f44336;
color: #fff;
padding: 3px 4px;
margin-left: 16px;
}
.tickets-list.quatity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;

}
/*places*/
.places-list{

margin-top: 32px;


}



.place-img{
width: 100%;
display: block;/*xóa khoảng đen ở dưới ảnh*/
}
.place-img:hover{
    opacity: 0,6;/* làm mờ*/
}
.place-body{
background-color: #fff;
padding: 16px;
font-size: 15px;
}
.place-heading{
font-size: 15px;
font-weight: 600;/*độ dày chữ*/
}
.place-time{
margin-top: 15px;
color: #757575;

}
.place-desc{
margin-top: 15px;
line-height: 1.4;
}

/*Contact form*/
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*=ti-] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
/*Map section*/
.map-section img{
    width: 100%;
}
/*Footer section*/
#footer{
padding: 64px 16px;
text-align: center;
}
#Footer.socials-list{
    font-size: 24px;
}
#Footer.socials-list a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#Footer.copyright a:hover,
#Footer.socials-list a:hover{
    color: rgba(0,0,0,0.3);
}
#Footer.copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#Footer.copyright a{
    color: rgba(0,0,0,0.6);
}
.modal{
    position: fixed;/*giao diện nổi lên trên*/
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;/*căn giữa theo chiều cao*/
    justify-content:center;/*căn giữa theo chiều ngang*/
}
.modal-open{
    display: flex;/*hiển thị*/
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;

}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close:hover{
    opacity: 1;/*độ mờ*/
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color:#fff;
    padding: 12px;
    cursor: pointer;/*bàn tay*/
    opacity: 0.8;
}
.modal-body{
    padding: 16px;
}
.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
margin-bottom: 24px;
}

#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover{
opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    

}
.modal-footer a{
    color: #2196F3;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
transform: translateY(-140px);
    }
    to{
        opacity: 1;
transform: translateY(0);
    }
}